<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>مدیریت اجاره‌ی فیلم و بازی</title>
    <link rel="stylesheet" type="text/css" href="/public/semantic/semantic.min.css">
    <script src="/public/javascripts/jquery-2.2.3.min.js"></script>
    <script src="/public/semantic/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css">
</head>
<body>
<%- include('menu'); %>
<div class="ui middle aligned center aligned grid main-grid">
    <div class="column">
        <h1 style="font-family: Vazir; direction: rtl;">خطای ۴۰۴! صفحه مورد نظر پیدا نشد.</h1>
    </div>
</div>
</body>
</html>
