<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>مدیریت اجاره‌ی فیلم و بازی</title>
    <link rel="stylesheet" type="text/css" href="../../public/semantic/semantic.min.css">
    <script src="../../public/javascripts/jquery-2.2.3.min.js"></script>
    <script src="../../public/semantic/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../public/stylesheets/style.css">
    <script src="../../public/javascripts/admins-edit.js"></script>
</head>
<body>
<%- include('menu'); %>
<div class="ui middle aligned center aligned grid main-grid">
    <div class="column">
        <h2 class="ui teal image header">
            <div class="content">
                ویرایش ادمین <%= admin.id %>
            </div>
        </h2>
        <form class="ui large form" method="POST" action="/admins/edit/<%= admin.id %>">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui input">
                        <input type="text" name="name" placeholder="نام" value="<%= admin.name %>">
                    </div>
                </div>
                <div class="field">
                    <div class="ui input">
                        <input type="text" name="username" placeholder="یوزرنیم" value="<%= admin.username %>">
                    </div>
                </div>
                <div class="field">
                    <div class="ui input">
                        <input type="text" name="phone" placeholder="تلفن" value="<%= admin.phone %>">
                    </div>
                </div>
                <div class="field">
                    <div class="ui input">
                        <textarea name="address" placeholder="آدرس" rows="2"><%= admin.address %></textarea>
                    </div>
                </div>
                <div class="field">
                    <div class="ui input">
                        <input type="password" name="password" placeholder="رمز عبور (برای عدم تغییر خالی بماند)" value="">
                    </div>
                </div>
                <div class="ui checkbox">
                    <input <% if (admin.manager) { %>checked<% } %> type="checkbox" name="manager">
                    <label>مدیر</label>
                </div>
                <input style="margin-top: 15px;" class="ui fluid large teal submit button" type="submit" value="ثبت تغییرات">
                <a style="margin-top: 3px;" class="ui fluid large red button" href="../">
                    انصراف
                </a>
            </div>

            <div class="ui error message">
            </div>

        </form>
    </div>
</div>
</body>
</html>
