<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>مدیریت اجاره‌ی فیلم و بازی</title>
    <link rel="stylesheet" type="text/css" href="../public/semantic/semantic.min.css">
    <script src="../public/javascripts/jquery-2.2.3.min.js"></script>
    <script src="../public/semantic/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
    <script src="../public/javascripts/login.js"></script>
</head>
<body>
<div class="ui middle aligned center aligned grid main-grid">
    <div class="column" style="max-width: 450px;">
        <% if (typeof(loginError) !== 'undefined') { %>
        <div class="ui red message">
            <i class="close icon"></i>
            <p>نام کاربری یا رمز عبور نادرست است</p>
        </div>
        <% } %>
        <h2 class="ui teal image header">
            <div class="content">
ورود به سامانه
            </div>
        </h2>
        <form class="ui large form " method="POST" action="/login/">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="username" placeholder="نام کاربری" value="">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="رمزعبور">
                    </div>
                </div>
                <div class="ui fluid large teal submit button">ورود</div>
            </div>

            <div class="ui error message">
            </div>

        </form>
    </div>
</div>
</body>
</html>
