<div class="ui middle aligned center aligned grid">
    <div class="column">
        <div class="ui menu" style="border-radius: 0px;">
            <%
                var userPersianType = "کارمند";
                if (req.session.userType === 'manager')
                    userPersianType = 'مدیریت';

            %>
            <a style="direction: rtl" class="item" href="/logout">خروج (<%= userPersianType %>)</a>
            <div class="right menu">
                <a class="item" href="/users">اعضا</a>
                <% if (req.session.userType === 'manager') { %>
                <a class="item" href="/products">محصولات</a>
                <a class="item" href="/admins">ادمین‌ها</a>
                <% } %>
            </div>
        </div>
    </div>
</div>
