<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>مدیریت اجاره‌ی فیلم و بازی</title>
    <link rel="stylesheet" type="text/css" href="../public/semantic/semantic.min.css">
    <script src="../public/javascripts/jquery-2.2.3.min.js"></script>
    <script src="../public/semantic/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
    <script src="../../public/javascripts/products.js"></script>
</head>
<body>
<%- include('menu'); %>
<div class="ui middle aligned center aligned grid main-grid">
    <div class="column">
        <% if (req.query.new_id !== undefined) { %>
        <div class="ui green message">
            <i class="close icon"></i>
            <p>
                کد محصول جدید : <%= req.query.new_id %>
            </p>
        </div>
        <% } %>

        <% if (req.query.deleteMessage !== undefined) { %>
        <div class="ui message">
            <i class="close icon"></i>
            <p>محصول با موفقیت حذف شد</p>
        </div>
        <% } %>

        <% if (req.query.editId !== undefined) { %>
        <div class="ui green message">
            <i class="close icon"></i>
            <p>محصول <%= req.query.editId %> با موفقیت ویرایش شد</p>
        </div>
        <% } %>

        <a class="ui fitted small basic green button" href="/products/submit">
            ثبت محصول جدید
        </a>

        <table class="ui selectable celled definition center aligned table">
            <thead class="full-width">
            <tr>
                <th></th>
                <th></th>
                <th>در دسترس</th>
                <th>قیمت</th>
                <th>تعداد</th>
                <th>عنوان</th>
                <th>کد</th>
            </tr>
            </thead>
            <tbody>
            <% products.forEach(function(product){ %>
            <tr>
                <td class="ignored collapsing">
                    <a class="update-report ui fitted small basic secondary button" href="/products/edit/<%= product.id %>">
                        ویرایش
                    </a>
                </td>
                <td class="ignored collapsing">
                    <div class="delete-products update-report ui fitted small basic red button">
                        حذف
                    </div>
                </td>
                <td>
                    <div class="ui read-only checkbox">
                        <input style="cursor: default;" <% if (product.available) { %>checked<% } %> type="checkbox">
                    </div>
                </td>
                <td><%= product.price %></td>
                <td><%= product.copies_count %></td>
                <td><%= product.title %></td>
                <td class="product-id"><%= product.id %></td>
            </tr>
            <% }); %>
            </tbody>
        </table>
    </div>
</div>
<form id="products-delete-form" style="display: hidden;" action="/products/delete" method="post">
    <input type="hidden" id="product-delete-id" name="id">
</form>
</body>
</html>
