<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>مدیریت اجاره‌ی فیلم و بازی</title>
    <link rel="stylesheet" type="text/css" href="../public/semantic/semantic.min.css">
    <script src="../public/javascripts/jquery-2.2.3.min.js"></script>
    <script src="../public/semantic/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
    <script src="../../public/javascripts/users.js"></script>
</head>
<body>
<%- include('menu'); %>
<div class="ui middle aligned center aligned grid main-grid">
    <div class="column">
        <% if (req.query.new_id !== undefined) { %>
        <div class="ui green message">
            <i class="close icon"></i>
            <p>
                کد عضو جدید : <%= req.query.new_id %>
            </p>
        </div>
        <% } %>

        <% if (req.query.deleteMessage !== undefined) { %>
        <div class="ui message">
            <i class="close icon"></i>
            <p>عضو با موفقیت حذف شد</p>
        </div>
        <% } %>

        <% if (req.query.editId !== undefined) { %>
        <div class="ui green message">
            <i class="close icon"></i>
            <p>عضو <%= req.query.editId %> با موفقیت ویرایش شد</p>
        </div>
        <% } %>

        <a class="ui fitted small basic green button" href="/users/submit">
            ثبت عضو جدید
        </a>

        <table class="ui selectable celled definition center aligned table">
            <thead class="full-width">
            <tr>
                <th></th>
                <th></th>
                <th>آدرس</th>
                <th>تلفن</th>
                <th>نام و نام خانوادگی</th>
                <th>کد</th>
            </tr>
            </thead>
            <tbody>
            <% users.forEach(function(user){ %>
            <tr>
                <td class="ignored collapsing">
                    <a class="update-report ui fitted small basic secondary button" href="/users/edit/<%= user.id %>">
                        ویرایش
                    </a>
                </td>
                <td class="ignored collapsing">
                    <div class="delete-users update-report ui fitted small basic red button">
                        حذف
                    </div>
                </td>
                <td><%= user.address %></td>
                <td><%= user.phone %></td>
                <td><%= user.name %></td>
                <td class="user-id"><%= user.id %></td>
            </tr>
            <% }); %>
            </tbody>
        </table>
    </div>
</div>
<form id="users-delete-form" style="display: hidden;" action="/users/delete" method="post">
    <input type="hidden" id="user-delete-id" name="id">
</form>
</body>
</html>
