@font-face {
  font-family: Vazir;
  src: url('../fonts/vazir/Vazir.eot');
  src: url('../fonts/vazir/Vazir.eot?#iefix') format('embedded-opentype'),
  url('../fonts/vazir/Vazir.woff') format('woff'),
  url('../fonts/vazir/Vazir.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Vazir;
  src: url('../fonts/vazir/Vazir-Bold.eot');
  src: url('../fonts/vazir/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/vazir/Vazir-Bold.woff') format('woff'),
  url('../fonts/vazir/Vazir-Bold.ttf') format('truetype');
  font-weight: bold;
}

* {
  font-family: Vazir;
}

body > .main-grid {
  height: 80%;
}

.column {
  max-width: 750px;
}

::placeholder {
  text-align: right;
}

.ui.form input, textarea {
  text-align: right;
  direction: rtl;
}

.ui.form input[type=submit] {
  text-align: center;
}


.ui.message {
  padding-right: 2.3em;
}

.ui.message .list:not(.ui) li:before {
  right: -1em;
  left: initial;
}

.ui.message .list:not(.ui) li {
  text-align: right;
}

.column > .ui.message {
    color: black;
}
